
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: .2s;
}
a {
	color: #2b2b2b;
}
a:hover {
	color: #ea4c89;
}
body {
	//background: #e2e2e2;
	color: #2b2b2b;
}

header {
	height: 100px;
	padding: 0 40px;
	background: #fff;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.burger {
	height: 28px;
	width: 28px;
	cursor: pointer;
}
.burger div {
	margin-bottom: 5px;

	height: 5px;
	background: #333;
}

/*-------------------------main PORTFOLIO*/

main {
	background: #231f20;
	padding: 100px 0 0px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: column wrap;
}
h1, h5 {
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.overlay {
    position: relative;
}

.portfolio_img {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 70px;
}
.portfolio_img .img {
	width: 500px;
	height: 500px;
	/*//flex-basis: 200px;*/
	flex-grow: 1;
	background-image: url('../img/portfolio_1.png');
	position: relative;
}

.overlay:hover:before {
	display: block;
}

.overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 0;
}

.red:before {
    background-color: rgba(255,0,0,0.5);
}



/*.portfolio_img img:hover {
	//z-index: 1000;
	opacity: .1;
	background-color: rgba(255,100,0,0.3);

}*/

.button {
	text-align: center;
}
button {
	background: #a24b45;
	color: #fff;
	padding: 10px 45px;
	border-radius: 20px;
	text-transform: uppercase;
	border: none;
	text-align: center;
	margin: 60px auto;
}
button:hover {
	background: #ea4c89;
	color: #fff;
	cursor: pointer;
}

.icons {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	border-top: 1px solid #f7f7f7;
	padding: 40px 0;
}

.icons a {
	padding: 50px;
	width: 100px;
	text-align: center;
}
.icons a:hover {
	background: #ea4c89;

}

.icons a i {
	font-size: 42px;
	color: #2b2b2b;
}
.icons a:hover i {
	color: #fff;
}

.contacts {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	justify-content: center;
	align-items: flex-start;

}
.contacts>div {
	width: 400px;
	height: 250px;
	padding: 40px 0;
	flex-grow: 1;


}
.contacts>div:hover {
	background: #2b2b2b;
	color: #fff;
}
.contacts>div:hover a {

	color: #ea4c89;
}


.dribbble_shots_images {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;

}
.dribbble_shots_images img {
	width: 80px;
	padding: 8px;
}

.footer_title {
	text-transform: capitalize;
	margin-bottom: 40px;

}
.address a {
	display: block;
	margin-top: 10px;
}
.copyright {
	background: #231f20;
	color: #fff;
	height: 80px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.copyright p {

}
.footer_nav a {
	color: #fff;
	padding: 0 10px;
}
.footer_nav a:hover {
	color: #ea4c89;
}

/*-------------------------add class jquery*/

/*.img{
    width: 150px;
    height: 150px;
    background: url(../img/dribbble_shots_images_8.png) no-repeat center top;
}
.img-overlay{
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,0.3);
}
*/